body{
    font-family: Arial, Helvetica, sans-serif;
    background: #090909 ;
}
.background-black{
    width: 970px;
    height: 100%;
    background: black;
}
.centered{
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}
.container{
    height: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.post{
    width: 560px;
    height: 780px;
    display: flex;
    flex-flow: column nowrap;
    background: white;
}
.post-header{
	height: 72px;	
    display: flex;
    justify-content: space-between;
    align-items: center;
	text-align: center;
}
.account{
    display: flex;
    align-items: center;
}
.profile{
    width: 48px;
    margin-left: 3px;
    display: block;
}
.user-name{
    font-size: 18px;
    text-align: left;
}
p.user-title{
    font-weight: bold;
}
.user-name p{
    margin: 1px;
}
.settings{
    padding-right: 18px;
}
.button-enabled{
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: none;
}
.button-enabled:active {
  background-color: white;
  transform: translateY(4px);
}
.post-body{
	flex: 1;
    align-content: center;
}
.post-body img {
    width: 100%;
    height: 100%;
}
.post-foot{
	height: 270px;
	flex-direction: column;
}
.post-foot-icons{
    padding: 20px 20px 10px;
    display: flex;
    justify-content: space-between;
}
.post-foot-text > p{
    padding: 10px 20px 0 15px;
    font-size: 18px;
    text-align: left;
}